/* Header */
.header {
    height: var(--header-height);
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    letter-spacing: 1px;
    position: relative;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative; /* vị trí tương dối - lấy mình làm chuẩn */
    min-height: 26px;
}



.header__navbar-item--has-qr:hover .header__qr {
    display: block;
    
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;  /* bỏ gạch chân */
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255, 0.7);
    cursor: pointer; /*bàn tay*/
    color: black;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute; /* vị trí tuyệt đối - phụ thuộc vào thẻ cha gần nhất có thuộc tính absolute */
    border-left: 1px solid white;
    height: 25px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}





/* Header QR code  */
.header__qr {
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 10px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    box-shadow: 0 2px 10px blue;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-link:nth-child(1) { /*nó sẽ lấy thằng con thứ 1*/
    margin-left: 11px;
}

.header__qr-link:nth-child(2) { /*nó sẽ lấy thằng con thứ 2*/
    margin-left: 11px;
}
/* hạn chế dùng child */


.header__qr-download-img {
    height: 14px;
    

}



/* Header notification  */
.header__notify {
    position: absolute;
    z-index: 2;
    top: 118%;
    right: 0;
    border: 1px solid #D3D3D3;
    width: 404px;
    background-color: var(--white-color);
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.25s;
    transform-origin: calc(100% - 20px) top ;      /* điều chỉnh tâm của animation */
    will-change: opacity, transform ;              /* tối ưu chuyển động cho 2 thằng transform và opacity */
    box-shadow: 0 2px 10px blue;
    display: none;
    cursor: pointer;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    
}

.header__notify-header h3 {
    color: black;
    margin: 0 0 0 12px;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;   /* ko cho người dùng copy */
   
}

.header__notify-list {
    padding-left: 0;
    
}

.header__notify-item {
    display: flex;
    background-color: white;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238,75,43, 0.08);

}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 4px;
}

.header__notify-descrition {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
    
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;

}

/* Authen modal  */
.modal__body {
    display: flex;
}

.auth-form {
    width: 500px;
    height: 480px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;   /* khi thằng con vượt quá thằng cha thì ẩn đi  */
    
}

.box {
    background-image: url(https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/305826077_748870129883953_8632876241739620790_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4gabrwbaS_EAX-BdMES&_nc_ht=scontent.fsgn2-6.fna&oh=00_AfA_J1K5C4A2C-0ctMNbTL-ja1-okU5wf3qRJ6i3zOKKAg&oe=6401C3EB);
    background-size: cover;
    width: 500px;
    height: auto;
    filter: contrast(200%);
    border-radius: 10px;
}


.auth-form__container {
    padding: 0 32px;
    margin-bottom: 140px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);

}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 500;
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 250;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    letter-spacing: 1px;
}

.auth-form__input:focus {
    border-color: lightblue;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 2.6rem;
    text-align: center;
    padding: 12px 12px;
    letter-spacing: 0.8px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
    
}

.auth-form__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.auth-form__controls-back {
    margin-right: 8px;
    color: var(--white-color);
    background: linear-gradient(to right, rgb(234, 88, 12), rgb(249, 115, 22));
    border-radius: 10px;
}

.auth-form__socials {
    /* background-color: #f5f5f5; */
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);

}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: gray;
    color: var(--white-color);
}


.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    text-align: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
    letter-spacing: 0.8px;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
    font-size: 1.4rem;
    letter-spacing: 0.8px;
}

/* Header with search  */
.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 10px 0;
}


.header__logo {
    width: 150px;
    text-align: center;
}

.header__logo-img {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    margin: 0 50px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    position: relative;
    border-left: 2px solid #ccc;
    padding-left: 16px;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px;
}


/* Cart  */
.header__cart {
    width: 150px;
    text-align: center;

}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 18px);
    right: -1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px blue;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}

/* Dấu mũi tên trên cái div  */
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    display: none;
    width: 54%;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 2px 5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 1px solid red;
    top: -10px;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header__search-btn {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-image: none;
    background-color: black;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    list-style: none;
    box-shadow: 0 2px 10px blue;
    padding-left: 0;
    border-radius: 3px;
    margin-top: 20px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option:after {  
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    /* background-color: red; */
    top: -20px;
    left: 0;
    
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first { /* ông đầu tiên  */
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.header__search-option-item:last-child { /* ông cuối cùng */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history { /* focus: khi bấm vào mới hiện ra  */
    display: block;
}



/* Search History  */
.header__search-history {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 2px 10px blue;
    display: none;
    overflow: hidden;
} 

.header__search-history-heading {
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}


.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}